#file-input{
    color: #ffcc00;
  }
  .select1{
  padding: 0rem;
  }

  .btn-info {
  color: #ffcc00 !important;
  background-color: #000000 !important;
  border-color: white !important;
  }

  .btn-info:hover {
  color: #000 !important;
  background-color: #ffcc00 !important;
  border-color: white !important;
  }

  .navbar a, .navbar .dropdown-item {
    color: #ffcc00;
  }

  .navbar, ul {
    background-color: #000;
    color: #ffcc00;
  }

  .navbar .nav-item:hover, .navbar a:hover {
    color: #f9f9f9;
  }

  .navbar .dropdown-menu {
    background: #0F0F0E;
  }

  .navbar .dropdown-toggle, .navbar .dropdown-menu a {
      cursor: pointer;
  }

  .navbar .dropdown-item.active, .navbar .dropdown-item:active {
      color: inherit;
      text-decoration: none;
      background-color: inherit;
  }

  .navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
      color: #f9f9f9;
      text-decoration: none;
      background-color: #000;
  }

  @media only screen and (min-width: 800px) {
      .navbar .dropdown-toggle:not(.nav-link)::after {
          display: inline-block;
          width: 0;
          height: 0;
          margin-left: .5em;
          vertical-align: 0;
          border-bottom: .3em solid transparent;
          border-top: .3em solid transparent;
          border-left: .3em solid;
      }
  }